#selfie {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 50px;
}

div.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.links {
	margin: 5px 20px 15px 20px;
	font-variant: small-caps;
	font-size: 20px;
	text-decoration: none;
	color: #424242;
}

a.links:visited {
	color: #999595;
}

a.links:hover {
	color: #dad4d4;
}

a.links:active {
	text-decoration: underline;
}




